<h1>Searching Result</h1>

<% if @search.search_books.empty? %>
  <p>No Records Found</p>
<% else %>
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>ISBN</th>
    <th>Copies</th>
    <th></th>
  </tr>

  <%	@search.search_books.each do	|book|	%>
    <tr>
      <td><%=	book.title %></td>
      <td><%=	book.author %></td>
      <td><%=	book.isbn %></td>
      <td><%=	book.copies %></td>
      <td><%=	link_to 'Edit', edit_book_path(book)	%></td>
    </tr>
  <%	end	%>
</table>
<% end %>
<%= link_to "Back", welcome_index_path %>
